absl-py==1.4.0
docformatter==1.4
isort==5.10.1
mypy==1.15.0
nbformat==5.10.4
pip-tools==6.0.0
pre-commit==4.3.0
pycln==2.1.1
pylint==3.3.7
pytest==8.4.2
pytest-cov==7.0.0
pytest-xdist==3.5.0
types-protobuf==6.32.1.20260221
types-PyYAML==6.0.5
types-requests==2.32.0.20241016
types-tabulate==0.8.6
yapf==0.43.0
