name: GCPC modules test

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - '.github/workflows/gcpc-modules-tests.yml'
      - 'sdk/python/**'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  all-gcpc-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Generate proto files
        id: install-protobuf-deps
        uses: ./.github/actions/protobuf

      - name: Build & install kfp
        id: install-kfp-k8s-deps
        uses: ./.github/actions/kfp-k8s

      - name: Install google-cloud component
        run: pip install components/google-cloud

      - name: Install Pytest
        run: pip install "$(grep 'pytest==' sdk/python/requirements-dev.txt)"

      - name: Run test
        run: pytest ./test/gcpc-tests/run_all_gcpc_modules.py
