name: GCPC modules test

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - '.github/workflows/gcpc-modules-tests.yml'
      - 'sdk/python/**'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  all-gcpc-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9
          cache: 'pip'

      - name: Install protobuf-compiler
        run: sudo apt update && sudo apt install -y protobuf-compiler

      - name: Install setuptools
        run: |
          pip3 install setuptools
          pip3 freeze
          pip3 install build

      - name: Install Wheel
        run: pip3 install wheel==0.42.0

      - name: Generate API proto files
        working-directory: ./api
        run: make clean python

      - name: Generate kfp-kubernetes proto files
        working-directory: ./kubernetes_platform
        run: make clean python

      - name: Install kfp from source
        run: pip install sdk/python

      - name: Install google-cloud component
        run: pip install components/google-cloud

      - name: Install Pytest
        run: pip install "$(grep 'pytest==' sdk/python/requirements-dev.txt)"

      - name: Run test
        run: pytest ./test/gcpc-tests/run_all_gcpc_modules.py
