name: kfp-kubernetes library tests

on:
  push:
    branches: [master]
  pull_request:
    paths:
      - '.github/workflows/kfp-kubernetes-library-test.yml'
      - 'sdk/python/**'
      - 'api/v2alpha1/**'
      - 'kubernetes_platform/**'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  kfp-kubernetes-library-test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python: [
          { 'version': '3.10' },
          { 'version': '3.13' }
        ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{matrix.python.version}}
          cache: 'pip'

      - name: Generate proto files
        id: install-protobuf-deps
        uses: ./.github/actions/protobuf

      - name: Build & install kfp
        id: install-kfp-k8s-deps
        uses: ./.github/actions/kfp-k8s

      - name: Run tests
        run: pytest ./sdk/python/kfp/kubernetes/test
