name: Publish Python Packages
on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: "Tag associated with the release (e.g.: 2.14.0)"
      packages:
        type: choice
        required: true
        description: "Which package(s) to publish"
        options:
          - kfp
      dry_run:
        type: boolean
        required: true
        default: true
        description: "Dry run - build packages without publishing to PyPI"

env:
  PYTHON_VERSION: "3.9"

jobs:
  publish-kfp:
    if: ${{ github.event.inputs.packages == 'kfp' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Generate Protos
        run: |
           cd api
           make python
           cd ../kubernetes_platform
           make python

      - name: Build kfp
        run: |
          cd sdk
          make python
          cd python
          twine check dist/*

      - name: Publish to PyPI
        if: ${{ github.event.inputs.dry_run == 'false' }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: sdk/python/dist/
          print-hash: true

      - name: Upload artifacts (dry run)
        if: ${{ github.event.inputs.dry_run == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: kfp-dist
          path: sdk/python/dist/
